.nodeCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: var(--space-4);
  background-color: var(--color-node-card-bg);
  color: #fafafa;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-node-card-border);
  }

  &:hover {
    background-color: var(--color-node-card-bg--hover);
  }
}
